<div id="post-{{id}}" class="card">
    <img class="card-image" src="{{thumbnail}}" alt="There was an Awesome image...">
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">{{description}}</p>
        <a href="/post/{{id}}" class="anchor-buttons" style="text-decoration:none; color: #ffffff;">more..</a>
    </div>
</div>